
*{
    box-sizing: border-box;
}

ul {
    list-style-type:square;
}

ol{
    list-style-type: lower-roman;
}
ol li{
    display: inline;
    padding: 20px;
    padding: 20px 30px  ;
    padding: "top left bottom  right";
}

.d1, .d2, .d3{
    padding: 100px;
    height: 500px;
    width: 10px;
    border: 3px solid black;
    content: "lkdjflksdjflsdjflksdfjls";
}

.d1, .d3{
    background-color: red;
}

.d2{
    background-color: aqua
}


